<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="LOG_PATH">../logs/spring-cloud-eureka</property>
        <property name="LOG_PATTERN">%d %p %C{10} [%t] %m%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
            </PatternLayout>
        </Console>
        <!-- 按日期每天生成log文件 -->
        <RollingFile name="RollingFile" fileName="${LOG_PATH}/spring-cloud-eureka.log" filePattern="${LOG_PATH}/spring-cloud-eureka-%d{yyyy-MM-dd_HH}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <!-- 只保存15天的日志 -->
            <DefaultRolloverStrategy max="24">
                <Delete basePath="${LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*.gz" />
                    <IfLastModified age="15D" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Console name="consolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Spring -->
        <logger name="org.springframework" level="INFO"/>
        <!-- General Apache libraries -->
        <logger name="org.apache" level="INFO"/>

        <!-- 开发环境打印Debug级别以上日志 -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>