<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.producer.user.dao.PermissionMapper">

    <!-- 表与实体类字段对应 hzh 2018-09-09 00:08 -->
    <resultMap id="BaseResultMap" type="com.example.producer.user.model.Permission" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="top_id" property="topId"/>
        <result column="code" property="code"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="permission_expression" property="permissionExpression"/>
        <result column="sort" property="sort"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_user_id" property="modifyUserId"/>
        <result column="delete_status" property="deleteStatus"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 表字段名称 hzh 2018-09-09 00:08 -->
    <sql id="columnList" >
        `id`, `top_id`, `code`, `type`, `url`, `permission_expression`, `sort`, `create_time`, 
        `create_user_id`, `modify_time`, `modify_user_id`, `delete_status`, `status`
    </sql>

    <!-- 保存 hzh 2018-09-09 00:08 -->
    <insert id="save" parameterType="com.example.producer.user.model.Permission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `permission`
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="null != topId">
                `top_id`,
            </if>
            <if test="null != code and '' != code">
                `code`,
            </if>
            <if test="null != type and '' != type">
                `type`,
            </if>
            <if test="null != url and '' != url">
                `url`,
            </if>
            <if test="null != permissionExpression and '' != permissionExpression">
                `permission_expression`,
            </if>
            <if test="null != sort">
                `sort`,
            </if>
            <if test="null != createTime and '' != createTime">
                `create_time`,
            </if>
            <if test="null != createUserId">
                `create_user_id`,
            </if>
            <if test="null != modifyTime and '' != modifyTime">
                `modify_time`,
            </if>
            <if test="null != modifyUserId">
                `modify_user_id`,
            </if>
            <if test="null != deleteStatus and '' != deleteStatus">
                `delete_status`,
            </if>
            <if test="null != status and '' != status">
                `status`,
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="null != topId">
                #{topId, jdbcType = BIGINT},
            </if>
            <if test="null != code and '' != code">
                #{code, jdbcType = VARCHAR},
            </if>
            <if test="null != type and '' != type">
                #{type, jdbcType = ENUM},
            </if>
            <if test="null != url and '' != url">
                #{url, jdbcType = VARCHAR},
            </if>
            <if test="null != permissionExpression and '' != permissionExpression">
                #{permissionExpression, jdbcType = VARCHAR},
            </if>
            <if test="null != sort">
                #{sort, jdbcType = INT},
            </if>
            <if test="null != createTime and '' != createTime">
                #{createTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != createUserId">
                #{createUserId, jdbcType = BIGINT},
            </if>
            <if test="null != modifyTime and '' != modifyTime">
                #{modifyTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != modifyUserId">
                #{modifyUserId, jdbcType = BIGINT},
            </if>
            <if test="null != deleteStatus and '' != deleteStatus">
                #{deleteStatus, jdbcType = ENUM},
            </if>
            <if test="null != status and '' != status">
                #{status, jdbcType = ENUM},
            </if>
        </trim>
    </insert>

    <!-- 批量保存 hzh 2018-09-09 00:08 -->
    <insert id="saveBatch">
        INSERT INTO `permission`
        (`top_id`, `code`, `type`, `url`, `permission_expression`, `sort`, `create_time`, 
        `create_user_id`, `modify_time`, `modify_user_id`, `delete_status`, `status`)
        <foreach collection="modelList" item="model" separator="," >
            (#{topId, jdbcType = BIGINT}, #{code, jdbcType = VARCHAR}, #{type, jdbcType = ENUM}, #{url, jdbcType = VARCHAR}, 
            #{permissionExpression, jdbcType = VARCHAR}, #{sort, jdbcType = INT}, #{createTime, jdbcType = TIMESTAMP}, #{createUserId, jdbcType = BIGINT}, #{modifyTime, jdbcType = TIMESTAMP}, 
            #{modifyUserId, jdbcType = BIGINT}, #{deleteStatus, jdbcType = ENUM}, #{status, jdbcType = ENUM})
        </foreach>
    </insert>

    <!-- 根据ID删除 hzh 2018-09-09 00:08 -->
    <update id="deleteById">
        UPDATE `permission` SET `delete_status` = 2 WHERE id = #{id, jdbcType = BIGINT}
    </update>

    <!-- 根据ID查询 hzh 2018-09-09 00:08 -->
    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="columnList"/> FROM `permission` WHERE id = #{id, jdbcType = BIGINT} AND `delete_status` = 1
    </select>

    <!-- 根据ID更新 hzh 2018-09-09 00:08 -->
    <update id="updateById">
        UPDATE `permission`
        <set>
            <if test="null != topId">
                `top_id` = #{topId, jdbcType = BIGINT},
            </if>
            <if test="null != code and '' != code">
                `code` = #{code, jdbcType = VARCHAR},
            </if>
            <if test="null != type and '' != type">
                `type` = #{type, jdbcType = ENUM},
            </if>
            <if test="null != url and '' != url">
                `url` = #{url, jdbcType = VARCHAR},
            </if>
            <if test="null != permissionExpression and '' != permissionExpression">
                `permission_expression` = #{permissionExpression, jdbcType = VARCHAR},
            </if>
            <if test="null != sort">
                `sort` = #{sort, jdbcType = INT},
            </if>
            <if test="null != createTime and '' != createTime">
                `create_time` = #{createTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != createUserId">
                `create_user_id` = #{createUserId, jdbcType = BIGINT},
            </if>
            <if test="null != modifyTime and '' != modifyTime">
                `modify_time` = #{modifyTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != modifyUserId">
                `modify_user_id` = #{modifyUserId, jdbcType = BIGINT},
            </if>
            <if test="null != deleteStatus and '' != deleteStatus">
                `delete_status` = #{deleteStatus, jdbcType = ENUM},
            </if>
            <if test="null != status and '' != status">
                `status` = #{status, jdbcType = ENUM},
            </if>
        </set>
        WHERE id = #{id, jdbcType = BIGINT}
    </update>

</mapper>