<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.producer.user.dao.UserMapper">

    <!-- 表与实体类字段对应 hzh 2018-09-09 00:02 -->
    <resultMap id="BaseResultMap" type="com.example.producer.user.model.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="account" property="account"/>
        <result column="mobile" property="mobile"/>
        <result column="username" property="username"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="password" property="password"/>
        <result column="super_admin" property="superAdmin"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="modify_user_id" property="modifyUserId"/>
        <result column="delete_status" property="deleteStatus"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 表字段名称 hzh 2018-09-09 00:02 -->
    <sql id="columnList" >
        `id`, `account`, `mobile`, `username`, `avatar_url`, `password`, `super_admin`, `create_time`, 
        `create_user_id`, `modify_time`, `modify_user_id`, `delete_status`, `status`
    </sql>

    <!-- 保存 hzh 2018-09-09 00:02 -->
    <insert id="save" parameterType="com.example.producer.user.model.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="null != account and '' != account">
                `account`,
            </if>
            <if test="null != mobile and '' != mobile">
                `mobile`,
            </if>
            <if test="null != username and '' != username">
                `username`,
            </if>
            <if test="null != avatarUrl and '' != avatarUrl">
                `avatar_url`,
            </if>
            <if test="null != password and '' != password">
                `password`,
            </if>
            <if test="null != superAdmin">
                `super_admin`,
            </if>
            <if test="null != createTime and '' != createTime">
                `create_time`,
            </if>
            <if test="null != createUserId">
                `create_user_id`,
            </if>
            <if test="null != modifyTime and '' != modifyTime">
                `modify_time`,
            </if>
            <if test="null != modifyUserId">
                `modify_user_id`,
            </if>
            <if test="null != deleteStatus and '' != deleteStatus">
                `delete_status`,
            </if>
            <if test="null != status and '' != status">
                `status`,
            </if>
        </trim>
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="null != account and '' != account">
                #{account, jdbcType = VARCHAR},
            </if>
            <if test="null != mobile and '' != mobile">
                #{mobile, jdbcType = VARCHAR},
            </if>
            <if test="null != username and '' != username">
                #{username, jdbcType = VARCHAR},
            </if>
            <if test="null != avatarUrl and '' != avatarUrl">
                #{avatarUrl, jdbcType = VARCHAR},
            </if>
            <if test="null != password and '' != password">
                #{password, jdbcType = VARCHAR},
            </if>
            <if test="null != superAdmin">
                #{superAdmin, jdbcType = TINYINT},
            </if>
            <if test="null != createTime and '' != createTime">
                #{createTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != createUserId">
                #{createUserId, jdbcType = BIGINT},
            </if>
            <if test="null != modifyTime and '' != modifyTime">
                #{modifyTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != modifyUserId">
                #{modifyUserId, jdbcType = BIGINT},
            </if>
            <if test="null != deleteStatus and '' != deleteStatus">
                #{deleteStatus, jdbcType = ENUM},
            </if>
            <if test="null != status and '' != status">
                #{status, jdbcType = ENUM},
            </if>
        </trim>
    </insert>

    <!-- 批量保存 hzh 2018-09-09 00:02 -->
    <insert id="saveBatch">
        INSERT INTO `user`
        (`account`, `mobile`, `username`, `avatar_url`, `password`, `super_admin`, `create_time`, 
        `create_user_id`, `modify_time`, `modify_user_id`, `delete_status`, `status`)
        <foreach collection="modelList" item="model" separator="," >
            (#{account, jdbcType = VARCHAR}, #{mobile, jdbcType = VARCHAR}, #{username, jdbcType = VARCHAR}, #{avatarUrl, jdbcType = VARCHAR}, 
            #{password, jdbcType = VARCHAR}, #{superAdmin, jdbcType = TINYINT}, #{createTime, jdbcType = TIMESTAMP}, #{createUserId, jdbcType = BIGINT}, #{modifyTime, jdbcType = TIMESTAMP}, 
            #{modifyUserId, jdbcType = BIGINT}, #{deleteStatus, jdbcType = ENUM}, #{status, jdbcType = ENUM})
        </foreach>
    </insert>

    <!-- 根据ID删除 hzh 2018-09-09 00:02 -->
    <update id="deleteById">
        UPDATE `user` SET `delete_status` = 2 WHERE id = #{id, jdbcType = BIGINT}
    </update>

    <!-- 根据ID查询 hzh 2018-09-09 00:02 -->
    <select id="findById" resultMap="BaseResultMap">
        SELECT <include refid="columnList"/> FROM `user` WHERE id = #{id, jdbcType = BIGINT} AND `delete_status` = 1
    </select>

    <!-- 根据ID更新 hzh 2018-09-09 00:02 -->
    <update id="updateById">
        UPDATE `user`
        <set>
            <if test="null != account and '' != account">
                `account` = #{account, jdbcType = VARCHAR},
            </if>
            <if test="null != mobile and '' != mobile">
                `mobile` = #{mobile, jdbcType = VARCHAR},
            </if>
            <if test="null != username and '' != username">
                `username` = #{username, jdbcType = VARCHAR},
            </if>
            <if test="null != avatarUrl and '' != avatarUrl">
                `avatar_url` = #{avatarUrl, jdbcType = VARCHAR},
            </if>
            <if test="null != password and '' != password">
                `password` = #{password, jdbcType = VARCHAR},
            </if>
            <if test="null != superAdmin">
                `super_admin` = #{superAdmin, jdbcType = TINYINT},
            </if>
            <if test="null != createTime and '' != createTime">
                `create_time` = #{createTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != createUserId">
                `create_user_id` = #{createUserId, jdbcType = BIGINT},
            </if>
            <if test="null != modifyTime and '' != modifyTime">
                `modify_time` = #{modifyTime, jdbcType = TIMESTAMP},
            </if>
            <if test="null != modifyUserId">
                `modify_user_id` = #{modifyUserId, jdbcType = BIGINT},
            </if>
            <if test="null != deleteStatus and '' != deleteStatus">
                `delete_status` = #{deleteStatus, jdbcType = ENUM},
            </if>
            <if test="null != status and '' != status">
                `status` = #{status, jdbcType = ENUM},
            </if>
        </set>
        WHERE id = #{id, jdbcType = BIGINT}
    </update>

</mapper>